---
- name: Configure OpenWrt (VLANs, trunk, AdGuard, WireGuard, LuCI hardening) with rollback safety
  hosts: openwrt
  gather_facts: false
  vars_files:
    - vars/secrets.yml
  pre_tasks:
    - name: Probe SSH on default mgmt IP
      ansible.builtin.wait_for:
        host: "{{ openwrt_mgmt_ip_default }}"
        port: "{{ ssh_port }}"
        state: started
        connect_timeout: 1
        timeout: 2
      delegate_to: localhost
      connection: local
      register: probe_old
      ignore_errors: true
      changed_when: false

    - name: Switch ansible_host to NEW if default is unreachable
      ansible.builtin.set_fact:
        ansible_host: "{{ openwrt_new_mgmt_ip }}"
      when: probe_old.failed

    - name: Probe SSH on new mgmt IP (only if switched)
      ansible.builtin.wait_for:
        host: "{{ openwrt_new_mgmt_ip }}"
        port: "{{ ssh_port }}"
        state: started
        connect_timeout: 1
        timeout: 20
      delegate_to: localhost
      connection: local
      when: probe_old.failed
  tasks:
    - name: Import packages tasks
      ansible.builtin.import_tasks: tasks/00_packages.yml

    - name: Import rollback setup tasks
      ansible.builtin.import_tasks: tasks/10_rollback.yml

    - name: Import WiFi tasks
      ansible.builtin.import_tasks: tasks/20_wifi.yml

    - name: Import network tasks
      ansible.builtin.import_tasks: tasks/30_network.yml

    - name: Import DHCP tasks
      ansible.builtin.import_tasks: tasks/50_dhcp.yml

    - name: Import AdGuard Home tasks
      ansible.builtin.import_tasks: tasks/60_adguard.yml

    - name: Import WireGuard tasks
      ansible.builtin.import_tasks: tasks/70_wireguard.yml

    - name: Import firewall tasks
      ansible.builtin.import_tasks: tasks/80_firewall.yml

    - name: Import SSH hardening tasks
      ansible.builtin.import_tasks: tasks/90_ssh.yml

    - name: Import LuCI/uhttpd tasks
      ansible.builtin.import_tasks: tasks/95_luci.yml

    - name: Import reconnection tasks
      ansible.builtin.import_tasks: tasks/98_reconnect.yml

    - name: Import Finalize tasks
      ansible.builtin.import_tasks: tasks/99_finalize.yml

  handlers:
    - name: restart_network
      community.openwrt.service:
        name: network
        state: restarted

    - name: restart_firewall
      community.openwrt.service:
        name: firewall
        state: restarted

    - name: restart_dnsmasq
      community.openwrt.service:
        name: dnsmasq
        state: restarted

    - name: restart_adguard
      community.openwrt.service:
        name: adguardhome
        state: restarted
  
    - name: restart_dropbear
      community.openwrt.service:
        name: dropbear
        state: restarted

    - name: restart_uhttpd
      community.openwrt.service:
        name: uhttpd
        state: restarted
