---
- name: Update opkg cache
  community.general.opkg:
    update_cache: true

- name: "Install base packages"
  community.openwrt.opkg:
    name: "{{ item.name }}"
    state: latest
    update_cache: false
  loop: "{{ base_packages }}"

- name: "Install rollback packages (at)"
  when: enable_rollback_atd | bool
  community.openwrt.opkg:
    name: at
    state: latest

- name: "Enable atd"
  when: enable_rollback_atd | bool
  community.openwrt.service:
    name: atd
    enabled: true
    state: started

- name: Install AdGuard Home package
  when: enable_adguardhome | bool
  community.openwrt.opkg:
    name: adguardhome
    state: latest

- name: Install WireGuard packages
  when: enable_wireguard | bool
  community.openwrt.opkg:
    name:
      - wireguard-tools
      - kmod-wireguard
    state: latest
