---
- name: Ensure br-lan is bridge with ports
  community.openwrt.uci:
    command: set
    key: "network.@device[0]"
    value:
      name: "{{ openwrt_lan_bridge }}"
      type: "bridge"
      ports: "{{ openwrt_lan_ports }}"
  notify: restart_network

- name: Delete existing brvlan sections if present
  loop: "{{ vlans }}"
  community.openwrt.uci:
    command: delete
    key: "network.brvlan{{ item.id }}"
  ignore_errors: true
  notify: restart_network

- name: Create bridge-vlan sections (brvlanX)
  loop: "{{ vlans }}"
  community.openwrt.uci:
    command: set
    key: "network.brvlan{{ item.id }}"
    value: "bridge-vlan"

- name: Set bridge-vlan device/vlan
  loop: "{{ vlans }}"
  community.openwrt.uci:
    command: set
    key: "network.brvlan{{ item.id }}"
    value:
      device: "{{ openwrt_lan_bridge }}"
      vlan: "{{ item.id }}"
  notify: restart_network

- name: Compute DSA ports strings for each VLAN (u* for untagged/pvid, t for tagged)
  ansible.builtin.set_fact:
    vlan_ports_map: "{{ vlan_ports_map | default({}) | combine({ item.id: computed_ports }) }}"
  vars:
    computed_ports: >-
      {%- set out = [] -%}
      {%- for p in openwrt_lan_ports -%}
        {%- set cfg = port_vlan_map.get(p, {}) -%}
        {%- set untag = cfg.get('untagged', []) -%}
        {%- set tagged = cfg.get('tagged', []) -%}
        {%- if item.id in untag -%}
          {%- set _ = out.append(p ~ ':u*') -%}
        {%- elif item.id in tagged -%}
          {%- set _ = out.append(p ~ ':t') -%}
        {%- endif -%}
      {%- endfor -%}
      {{ out }}
  loop: "{{ vlans }}"

- name: Apply bridge-vlan ports
  loop: "{{ vlans }}"
  community.openwrt.uci:
    command: set
    key: "network.brvlan{{ item.id }}.ports"
    value: "{{ vlan_ports_map[item.id] }}"
  notify: restart_network

- name: Configure WAN
  community.openwrt.uci:
    command: set
    key: "network.wan"
    value:
      device: "{{ openwrt_wan_ifname }}"
      proto: "{{ openwrt_wan_proto }}"
  notify: restart_network

- name: Delete default network.lan
  community.openwrt.uci:
    command: delete
    key: "network.lan"
  ignore_errors: true
  notify: restart_network

- name: Ensure interface sections exist
  community.openwrt.uci:
    command: section
    config: network
    type: interface
    name: "{{ item.name }}"
  loop: "{{ vlans }}"
  notify: restart_network

- name: Configure VLAN interfaces
  community.openwrt.uci:
    command: set
    key: "network.{{ item.name }}"
    value:
      proto: "static"
      device: "{{ openwrt_lan_bridge }}.{{ item.id }}"
      ipaddr: "{{ item.router_ip }}"
      netmask: "{{ item.netmask }}"
  loop: "{{ vlans }}"
  notify: restart_network

- name: Create temporary mgmt alias interface (keep old subnet during migration)
  when: enable_mgmt_alias_migration | bool
  community.openwrt.uci:
    command: section
    config: network
    type: interface
    name: "{{ mgmt_alias_section_name }}"
  notify: restart_network

- name: Configure temporary mgmt alias (old IP on br-lan.2)
  when: enable_mgmt_alias_migration | bool
  community.openwrt.uci:
    command: set
    key: "network.{{ mgmt_alias_section_name }}"
    value:
      proto: "static"
      device: "{{ openwrt_lan_bridge }}.2"
      ipaddr: "{{ openwrt_old_mgmt_ip }}"
      netmask: "{{ openwrt_old_mgmt_netmask }}"
  notify: restart_network

- name: Commit network
  community.openwrt.uci:
    command: commit
    config: network
  notify: restart_network
