---
- name: Build desired static leases list (filtered)
  ansible.builtin.set_fact:
    dhcp_static_leases_filtered: >-
      {{
        (dhcp_static_leases | default([]))
        | selectattr('name', 'defined')
        | selectattr('mac', 'defined')
        | selectattr('ip', 'defined')
        | list
      }}
    dhcp_desired_host_names: >-
      {{
        (
          (dhcp_static_leases | default([]))
          | selectattr('name', 'defined')
          | selectattr('mac', 'defined')
          | selectattr('ip', 'defined')
          | map(attribute='name')
          | list
        )
      }}

- name: Read current dhcp config (uci show dhcp)
  ansible.builtin.command: uci show dhcp
  register: uci_dhcp_show
  changed_when: false

- name: Extract existing DHCP host section names
  ansible.builtin.set_fact:
    dhcp_existing_host_names: >-
      {{
        uci_dhcp_show.stdout_lines
        | select('match', '^dhcp\\.([^.]+)=host$')
        | map('regex_replace', '^dhcp\\.([^.]+)=host$', '\\1')
        | list
        | unique
      }}

- name: Compute DHCP host sections to remove
  ansible.builtin.set_fact:
    dhcp_hosts_to_remove: "{{ dhcp_existing_host_names | difference(dhcp_desired_host_names) }}"

- name: Remove DHCP host sections not declared in host_vars
  loop: "{{ dhcp_hosts_to_remove }}"
  community.openwrt.uci:
    command: delete
    key: "dhcp.{{ item }}"
  ignore_errors: true
  notify: restart_dnsmasq

- name: Ensure DHCP host sections exist for desired leases
  loop: "{{ dhcp_static_leases_filtered }}"
  community.openwrt.uci:
    command: section
    config: dhcp
    type: host
    name: "{{ item.name }}"
  notify: restart_dnsmasq

- name: Apply desired DHCP static leases
  loop: "{{ dhcp_static_leases_filtered }}"
  community.openwrt.uci:
    command: set
    key: "dhcp.{{ item.name }}"
    value:
      name: "{{ item.name }}"
      mac: "{{ item.mac }}"
      ip: "{{ item.ip }}"
  notify: restart_dnsmasq

- name: Commit dhcp
  community.openwrt.uci:
    command: commit
    config: dhcp
  notify: restart_dnsmasq
