---
- name: Configure WireGuard interfaces
  when: enable_wireguard | bool
  loop: "{{ wg_interfaces }}"
  community.openwrt.uci:
    command: set
    key: "network.{{ item.name }}"
    value:
      proto: "wireguard"
      private_key: "{{ item.private_key }}"
      listen_port: "{{ item.listen_port }}"
      addresses:
        - "{{ item.address }}"
  notify: restart_network

- name: Remove WG peers (only our deterministic names)
  when: enable_wireguard | bool
  loop: "{{ wg_peers }}"
  community.openwrt.uci:
    command: delete
    key: "network.peer_{{ item.name }}_{{ item.interface }}"
  ignore_errors: true
  notify: restart_network

- name: Create WG peers
  when: enable_wireguard | bool
  loop: "{{ wg_peers }}"
  vars:
    peer_value: >-
      {{
        {
          'interface': item.interface,
          'public_key': item.public_key,
          'allowed_ips': item.allowed_ips,
          'route_allowed_ips': '1'
        }
        | combine(item.endpoint_host is defined | ternary({'endpoint_host': item.endpoint_host}, {}))
        | combine(item.endpoint_port is defined | ternary({'endpoint_port': (item.endpoint_port | string)}, {}))
        | combine(item.persistent_keepalive is defined | ternary({'persistent_keepalive': (item.persistent_keepalive | string)}, {}))
      }}
  community.openwrt.uci:
    command: set
    key: "network.peer_{{ item.name }}_{{ item.interface }}"
    value: "{{ peer_value }}"
  notify: restart_network


- name: Commit network after WireGuard
  when: enable_wireguard | bool
  community.openwrt.uci:
    command: commit
    config: network
  notify: restart_network
