- name: Ensure WireGuard interface sections exist
  when: enable_wireguard | bool
  loop: "{{ wg_interfaces }}"
  loop_control:
    label: "{{ item.name }}"
  community.openwrt.uci:
    command: section
    config: network
    type: interface
    name: "{{ item.name }}"
  notify: restart_network

- name: Configure WireGuard interfaces
  when: enable_wireguard | bool
  loop: "{{ wg_interfaces }}"
  loop_control:
    label: "{{ item.name }}"
  community.openwrt.uci:
    command: set
    key: "network.{{ item.name }}"
    value:
      .type: "interface"
      proto: "wireguard"
      private_key: "{{ item.private_key }}"
      listen_port: "{{ item.listen_port | string }}"
      addresses:
        - "{{ item.address }}"
  notify: restart_network

- name: Remove managed WG peers
  when: enable_wireguard | bool
  loop: "{{ wg_peers | default([]) }}"
  loop_control:
    label: "peer_{{ item.name }}_{{ item.interface }}"
  community.openwrt.uci:
    command: delete
    key: "network.peer_{{ item.name }}_{{ item.interface }}"
  ignore_errors: true
  notify: restart_network

- name: Ensure WG peer sections exist
  when: enable_wireguard | bool
  loop: "{{ wg_peers | default([]) }}"
  loop_control:
    label: "peer_{{ item.name }}_{{ item.interface }}"
  community.openwrt.uci:
    command: section
    config: network
    type: "wireguard_{{ item.interface }}"
    name: "peer_{{ item.name }}_{{ item.interface }}"
  notify: restart_network

- name: Configure WG peers
  when: enable_wireguard | bool
  loop: "{{ wg_peers | default([]) }}"
  loop_control:
    label: "peer_{{ item.name }}_{{ item.interface }}"
  community.openwrt.uci:
    command: set
    key: "network.peer_{{ item.name }}_{{ item.interface }}"
    value:
      public_key: "{{ item.public_key }}"
      allowed_ips: "{{ item.allowed_ips }}"
      route_allowed_ips: "1"
      endpoint_host: "{{ item.endpoint_host | default(omit) }}"
      endpoint_port: "{{ (item.endpoint_port | string) if (item.endpoint_port is defined) else omit }}"
      persistent_keepalive: "{{ (item.persistent_keepalive | string) if (item.persistent_keepalive is defined) else omit }}"
  notify: restart_network

- name: Commit network after WireGuard
  when: enable_wireguard | bool
  community.openwrt.uci:
    command: commit
    config: network
  notify: restart_network
